.Navbar{
    text-align:center;
}
.Navbar nav {
    line-height:40px;
    font-size: 30px;
    margin-right: 8rem;
    margin-top:2rem;
}
nav a{
    color: white;
    margin-right: 40px;
    padding: 5px;
    float: right;
    transition:0.6s all;
}
nav a:hover{
    background-color:gray;
    color: white;
    text-decoration: none;
}

 .search{
    float: left;
    width: 60%;
}

input[type="text"]{
    width: 400px;
    padding: 2px;
    font-size:20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 1px solid #fff;
    border-radius:10px;
    color: #fff;
 
}

.Logo{
    filter: brightness(800%);
}