.hotel-container{
    display:flex;
    margin-top:150px;
    border-top: 1px solid white;
    width: 70%;
}
.item-container{
    width:50%;
    margin-left: 200px;
    margin-right: 100px;
    color: white;
    margin-top: 100px;
}
.information-container{
    color: white;
    margin-top: 100px;
}